
div{
    height: 200px;
    width: 200px;
    border: solid;
    margin: 20px;    
}

hold{
    height: 100vh;
    border: solid;
    display: flex;
    /* flex-direction: column; */

    /* flex-direction: column ; */
    /* flex-direction: column-reverse; */

    
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    
    
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */




    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: baseline;



    

    
}


